.skin-image {
    --size: 150px;
    width: var(--size);
    height: var(--size);
}

.skin:hover {
    cursor: pointer;
}

.skin:hover .skin-image {
    box-shadow: 0 0 20px 0px rgba(150, 150, 150, 1) !important;
}
